@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body { font-family: 'Roboto', sans-serif; }

.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    top:150px;
    left: 40%;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover {
    transform:rotateY(180deg);
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #f1c40f;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #3498db;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    transform: rotateY(180deg);
}